.navHeaderLayout {
    width               : 100%;
    display             : flex;
    justify-content     : center;
    
    & ul {
        display         : flex;
        gap             : clamp(2rem, 10vw, 4rem);
    };
};